<div class="container">
  <div class="row">
    <% articles.forEach(article => { %>
      <div class="col-md-6 mb-4 article">
        <h2><%= article.title %></h2>
        <p class="article-body"><%= article.body %></p>
        <button class="read-more-btn">Read More</button>
      </div>
    <% }) %>
  </div>
</div>