<footer class="site-footer">
  <div class="container">
    <p>© <%= new Date().getFullYear() %> The Modern Patriot. All Rights Reserved.</p>
    <p><em>“Liberty and Justice for All”</em></p>
  </div>
</footer>
