<header class="masthead">
  <div class="container masthead-container">
    <div class="masthead-left">
      <img src="/images/new_flag.png" alt="Eagle Logo" class="masthead-logo">
      <h1 class="masthead-title">The Grand Republic Gazette</h1>
      <p class="masthead-tagline">“Truth, Tradition, & Triumph”</p>
    </div>
    <div class="masthead-right">
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  </div>
</header>