<nav class="main-nav">
  <ul class="nav-left">
    <li><a href="/">Home</a></li>
  </ul>
  <ul class="nav-center">
    <li><a href="/us">U.S.</a></li>
    <li><a href="/world">World</a></li>
    <li><a href="/politics">Politics</a></li>
    <li><a href="/breaking">Breaking</a></li>
  </ul>
  <ul class="nav-right">
    <!-- reserved for future nav items -->
  </ul>
</nav>