<nav class="main-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/politics">Politics</a></li>
    <li><a href="/opinion">Opinion</a></li>
    <li><a href="/economy">Economy</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
